:root {
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.font-mono {
  font-family: var(--font-mono);
}

.portrait-image {
  border-radius: 100%;
}

.card-text {
  color: #000;
}

.header {
  background: #161b22;
}

.nav-link {
  counter-increment: count;
}

.nav-link::before {
  content: attr(data-count);
}
